
.-clip {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.-clip-wrap {
    text-overflow: ellipsis;
    overflow: hidden;
}

.-nowrap {
    white-space: nowrap;
}

/* Floats / Clears  --------------------------------------------------- */
.-pull-right {
    float: right;
}

.-pull-left {
    float: left;
}

.-clearfix{
    float: none;
    clear: both;
}

/* Position  --------------------------------------------------- */

.-rel {
    position: relative;
}

.-abs {
    position: absolute;
}

/* Cursor  --------------------------------------------------- */
.-pointer {
    cursor: pointer;
}

/* Text Alignment  ------------------------------------------------- */
.-center {
    text-align: center !important;
}

.-left {
    text-align: left !important;
}

.-right {
    text-align: right !important;
}

.-valign-middle {
    vertical-align: middle;
}

.-valign-top {
    vertical-align: top;
}

.-valign-bottom {
    vertical-align: bottom;
}

/* Display  --------------------------------------------------- */

.-hidden {
    display: none;
}

.-inline-block {
    display: inline-block !important;
}

.-block {
    display: block !important;
}

.-inline {
    display: inline !important;
}

/* Table ----------------------------------- */

.-tbl {
    display: table;
    width: 100%;
}

.-tbl .-row{
    display: table-row;
}

.-tbl .-cell {
    display: table-cell;
}


/* Generic margins -------------------------------------------------- */

$list: 0 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100;

.-mauto {
    margin-left: auto !important; 
    margin-right: auto !important;
}

.-no-margin {
    margin: 0 !important;
}

@each $inc in $list {
    .-m#{$inc} {
        margin: #{$inc}px !important;
    }
}

@each $inc in $list {
    .-mt#{$inc} {
        margin-top: #{$inc}px !important;
    }
}

@each $inc in $list {
    .-mr#{$inc} {
        margin-right: #{$inc}px !important;
    }
}

@each $inc in $list {
    .-mb#{$inc} {
        margin-bottom: #{$inc}px !important;
    }
}

@each $inc in $list {
    .-ml#{$inc} {
        margin-left: #{$inc}px !important;
    }
}

/* Generic paddings ------------------------ */

.-nopad, .-no-pad {
    padding: 0 !important;
}

@each $inc in $list {
    .-p#{$inc} {
        padding: #{$inc}px !important;
    }
}

@each $inc in $list {
    .-pt#{$inc} {
        padding-top: #{$inc}px !important;
    }
}

@each $inc in $list {
    .-pb#{$inc} {
        padding-bottom: #{$inc}px !important;
    }
}

@each $inc in $list {
    .-pl#{$inc} {
        padding-left: #{$inc}px !important;
    }
}

@each $inc in $list {
    .-pr#{$inc} {
        padding-right: #{$inc}px !important;
    }
}

/* Offsets ------------- */

@for $i from -15 through 15 {
    .-top#{$i} {
        top: #{$i}px !important;
    }
}

@for $i from -15 through 15 {
    .-bot#{$i} {
        top: #{$i}px !important;
    }
}

@for $i from -15 through 15 {
    .-right#{$i} {
        top: #{$i}px !important;
    }
}

@for $i from -15 through 15 {
    .-left#{$i} {
        top: #{$i}px !important;
    }
}

/* Generic width percentages ------------- */

@each $inc in $list {
    .-w#{$inc} {
        width: #{$inc}% !important;
    }
}
